In [353]:
import seaborn as sns
import numpy as np
import pandas as pd
from category_encoders import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier

data = sns.load_dataset('penguins')
data.dropna(inplace=True)

In [354]:
# Encode categorical features with OrdinalEncoder
enc = OrdinalEncoder()
data = enc.fit_transform(data)

In [355]:
# Define target and features
X = data.drop(columns=['species'])
y = data['species']

In [356]:
X

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,1,39.1,18.7,181.0,3750.0,1
1,1,39.5,17.4,186.0,3800.0,2
2,1,40.3,18.0,195.0,3250.0,2
4,1,36.7,19.3,193.0,3450.0,2
5,1,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...
338,2,47.2,13.7,214.0,4925.0,2
340,2,46.8,14.3,215.0,4850.0,2
341,2,50.4,15.7,222.0,5750.0,1
342,2,45.2,14.8,212.0,5200.0,2
343,2,49.9,16.1,213.0,5400.0,1

In [357]:
# Build model that does vector comparison and outputs index of the most similar vector
def similar_vector(X,v):
    X = np.array(X)
    v = np.array(v)
    result=[]

    for vector in X:
        distance = sum((vector - v)**2)**(1/2)
        result.append(distance)
    result = list(enumerate(result))
    similar = sorted(result, key=lambda i: i[1])[0][0]

    return similar

In [358]:
d = similar_vector(X, X.iloc[115])

In [359]:
# Create train test split
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [360]:
predictions = np.array([y_train.iloc[similar_vector(X_train, v)] for v in np.array(X_test)])

In [361]:
actual = np.array(y_test)

In [362]:
predictions

array([2, 1, 1, 3, 3, 2, 3, 3, 2, 3, 1, 1, 1, 1, 2, 3, 1, 1, 1, 3, 1, 2,
       3, 3, 2, 1, 3, 3, 3, 2, 3, 1, 3, 1, 3, 3, 1, 2, 1, 1, 3, 2, 3, 3,
       1, 3, 2, 3, 3, 2, 2, 1, 1, 3, 1, 1, 2, 1, 3, 1, 2, 1, 2, 3, 1, 1,
       3, 3, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 3, 1, 3, 3, 1, 3])

In [363]:
actual

array([2, 1, 1, 3, 3, 2, 3, 3, 2, 3, 3, 1, 1, 1, 2, 3, 1, 1, 2, 3, 2, 2,
       3, 1, 1, 1, 3, 3, 3, 2, 3, 1, 3, 1, 3, 2, 1, 2, 1, 1, 3, 1, 3, 3,
       1, 3, 1, 3, 3, 1, 2, 1, 1, 3, 2, 1, 2, 1, 3, 1, 2, 1, 2, 2, 2, 2,
       2, 3, 1, 1, 1, 1, 1, 3, 3, 2, 1, 1, 3, 1, 3, 3, 1, 3])

In [364]:
# My model accuracy score
accuracy_score(actual, predictions)

0.8214285714285714

In [365]:

model = DecisionTreeClassifier().fit(X_train, y_train)

In [366]:
model.score(X_test, y_test)

0.9880952380952381